@media screen and (max-width:1024px) {
    html {
        font-size: 48px
    }
}

@media screen and (min-width:1440px) {
    html {
        font-size: 74.96px;
    }
}

@media screen and (min-width:1560px) {
    html {
        font-size: 81.2px
    }
}

@media screen and (min-width:1680px) {
    html {
        font-size: 87.45px
    }
}

@media screen and (min-width:1800px) {
    html {
        font-size: 93px
    }
}

@media screen and (min-width:1920px) {
    html {
        font-size: 100px
    }
}